@{
    ViewData["Title"] = "Home";
}
@model Event[];

<div class="text-center">
    <h1 class="display-4">Cozumel</h1>
    <p>La isla de nuestras golondrinas.</p>
</div>

<section>
    <div class="grid-container justify-content-center">
        <div id="0" class="grid-item">
            
        </div>
        <div id="1" class="grid-item"></div>
        <div id="2" class="grid-item"></div>
        <div id="3" class="grid-item"></div>
        <div id="4" class="grid-item"></div>
        <div id="5" class="grid-item"></div>
        <div id="6" class="grid-item"></div>
        <div id="7" class="grid-item"></div>
        <div id="8" class="grid-item"></div>
        <div id="9" class="grid-item"></div>
        <div id="10" class="grid-item"></div>
        <div id="11" class="grid-item"></div>
        <div id="12" class="grid-item"></div>
        <div id="13" class="grid-item"></div>
    </div>
</section>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/appcalendar.js"></script>
