@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Cozumel</h1>
    <p>La isla de nuestras golondrinas.</p>
</div>

<section>
    <div class="grid-container justify-content-center">
        <div class="grid-item">
            <span class="day">Lunes</span>
            <span class="number">01</span>
        </div>
        <div class="grid-item"><span class="day">Martes</span><span class="number">02</span></div>
        <div class="grid-item"><span class="day">Miercoles</span><span class="number">03</span></div>
        <div class="grid-item"><span class="day">Jueves</span><span class="number">04</span></div>
        <div class="grid-item"><span class="day">Viernes</span><span class="number">05</span></div>
        <div class="grid-item"><span class="day">Sabado</span><span class="number">06</span></div>
        <div class="grid-item"><span class="day">Domingo</span><span class="number">07</span></div>
        <div class="grid-item"><span class="day">Lunes</span><span class="number">08</span></div>
        <div class="grid-item"><span class="day">Martes</span><span class="number">09</span></div>
        <div class="grid-item"><span class="day">Miercoles</span><span class="number">10</span></div>
        <div class="grid-item"><span class="day">Jueves</span><span class="number">11</span></div>
        <div class="grid-item"><span class="day">Viernes</span><span class="number">12</span></div>
        <div class="grid-item"><span class="day">Sabado</span><span class="number">13</span></div>
        <div class="grid-item"><span class="day">Domingo</span><span class="number">14</span></div>
    </div>
</section>
