
<section class="container mx-auto">
    <div class="row">
        <div class="col-6">
            <a asp-area="Identity" asp-page="/Account/Register" asp-route-role="1"><h2>Registrarme como espectador</h2></a>
            <div class="container-img-register"><img src="~/img/Cozumel.png" /></div>
        </div>
        <div class="col-6">
            <a asp-area="Identity" asp-page="/Account/Register" asp-route-role="2"><h2>Registrarme como artista</h2></a>
            <div class="container-img-register"><img src="~/img/Cozumel.png" /></div>
        </div>
    </div>
</section>
