@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Ups";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No tenés permitido visitar esta parte de la isla.</p>
    <hr />
    <a asp-controller="Home" asp-action="Index">Volve a Home</a>
</header>
