@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "¡Registro completo!";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Gracias por sumarte a nuestra comunidad. Ahora a disfrutar de las golondrinas...
</p>
<a asp-controller="Home" asp-action="Index">Volver al Inicio</a>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
