@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Eliminar cuenta";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>¿Segurx que desea eliminar su cuenta? Una vez realizada esta acción, no podrá ser recuperada la cuenta.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">Borrar toda mi información y eliminar mi cuenta</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}