body {
  background-color: rgb(8, 0, 31);
  color: whitesmoke;
}

.navegation-bar {
  background-color: black;
  color: white;
}

.brand {
  color: white;
  font-weight: 500;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 12vw);
  grid-template-rows: repeat(2, 12em);
  gap: 1em;
}

.cozumel-register{
    max-height:40em;
    max-width: 20em;
}

.grit-item {
  box-shadow: 0 0 70px 10px rgba(226, 230, 0, 0.1);
}
.grid-item:nth-child(odd) {
  background-color: rgb(129, 29, 29);
}
.grid-item:nth-child(even) {
  background-color: rgb(97, 41, 41);
}

.grid-item-label{
    color:white;
}

.day {
  padding-left: 0.5em;
  font-size: 1.3em;
  color: whitesmoke;
}
.number {
  padding: 0.1em;
  padding-left: 1em;
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.nav-bar-item {
  color: white;
  font-weight: 500;
}

/* .................. */

.nav-links {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.button-small {
    width: 40%;
}

.tomato{
    color:tomato;
}

.white {
    color: white;
}

.event-title{
    font-weight:400;
    padding-top: 0.2em;
    padding-left: 0.5em;
    color:sandybrown;
}


/* Expandimos el espacio de los links del navbar para pantallas medianas */
@media screen and (max-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 12vw);
        grid-template-rows: repeat(3, 12em);
        gap: 1em;
    }
}